@model string
@{
    ViewBag.Title = "MakeRequest";
}

<h2>MakeRequest</h2>

@*<p>@foreach (var item in Model.Product)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
        </td>
    </tr>
}</p>*@

